<br>
<ul class="uk-pagination">
  {% if page.previous.url %}
  <li>
    <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}"><span class="uk-margin-small-right"  uk-pagination-previous></span> {{ page.previous.title | truncate: 15 }}</a>
  </li>
  {% else %}
  <li>
    <a href="{{"/blog" | relative_url}}"><span class="uk-margin-small-right"  uk-pagination-previous></span>Back</a>
  </li>
  {% endif %}
  {% if page.next.url %}
  <li class="uk-margin-auto-left">
    <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">{{ page.next.title | truncate: 15 }} <span class="uk-margin-small-left" uk-pagination-next></span></a>
  </li>
  {% else %}
  <li class="uk-margin-auto-left">
    <a href="https://twitter.com/{{site.twitter}}" target="_blank">Follow<span uk-icon="twitter" class="uk-margin-small-left"></span></a>
  </li>
  {% endif %}
</ul>
<hr class="uk-divider-icon">
